deadtrigger
game/
payload/
apk/
*.so
deadtrigger-v2.1.0-data/
userdata/
*.tar
*.tar.gz
*.log
run.out
debug.log
*.core
qemu_*
bin/
.build/
gamedata/*
!gamedata/README.txt
*.apk
*.apkm
*.apks
*.xapk
*.obb
